body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.74;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  color: #696969;
  position: relative;
  background-color: #ffffff;
}
.slapukai-container {
  position: fixed;
  width: 100%;
  background: #3858f5;
  padding: 1.5rem 10rem 1.5rem 3rem;
  bottom: 0;
  left: 0;
  color: #fff;
  opacity: 0.8;
}

.slapukai-container.closed {
  display: none;
}

.slapukai-container h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #fff;
}

.slapukai-container p {
  font-size: 0.9rem;
}

.slapukai-container button.submit {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  background: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 17px;
  padding: 0.5rem 1.5rem;
  color: #3858f5;
  font-weight: 600;
}

.slapukai-container a.dropdown {
  color: #fff;
  text-decoration: none;
}

.slapukai-container a.dropdown:after {
  content: "\25BD";
  margin-left: 5px;
}

.slapukai-container.open a.dropdown:after {
  content: "\25B3";
  margin-left: 5px;
}
.offcanvas-popup-container {
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 0.5s;
  z-index: 3;
}

.offcanvas-popup-container.open {
  right: 0;
}

.actions-toolbar {
  background: #fff;
  position: absolute;
  width: 4rem;
  top: 5rem;
  left: -3.5rem;
}

.actions-toolbar .toolbar-inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.actions-toolbar .toolbar-inner ul > li > a {
  display: block;
  padding: 0.5rem 1rem;
}

.panel-container {
  width: 20rem;
  background: #fff;
  height: 100vh;
  box-shadow: -3px 0 50px -2px rgb(0 0 0 / 14%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}
h1 {
  font-size: 56px;
}
h6 {
  font-size: 18px;
}
a {
  text-decoration: none;
}
.hero-bg {
  background: #f4efe9;
}
.hero-text h6 {
  color: #086ad8;
  margin-bottom: 20px;
}
.hero-text-btn {
  font-size: 15px;
  font-weight: 500;
  border-style: solid;
  border-radius: 5px;
  border-color: transparent;
  text-align: center;
  color: #ffffff;
  background: #086ad8;
  border-width: 1px;
}
.hero-image-2 {
  position: relative;
}

.our-services {
  background: #f8f8f8;
}
.our-services-text {
  text-align: center;
}
.our-services-text h6 {
  color: #ababab;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 700;
}
.our-services-text h3 {
  font-size: 40px;
  font-weight: 900;
  margin: 0 auto;
  line-height: 1.41;
}
.text-color-primary {
  color: #086ad8;
}
.card-text h5 {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 24px;
}
.our-services-card {
  position: relative;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 50px 30px 63px;
}
.card-arrow {
  position: absolute;
  bottom: -30px;
  left: 42%;
}
.arrow-dot {
  background: #e7c8b9;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.las {
  color: white;
  font-size: 32px;
}
.our-services-cards-footer {
  color: #333333;
  font-size: 18px;
  font-weight: 800;
  padding-top: 90px;
  padding-bottom: 80px;
}
.hero-text-btn:hover {
  color: #fff;
}
.card-arrow:hover .arrow-dot {
  background: #086ad8;
}
.our-services-cards-footer a {
  border-bottom: solid 1px rgb(192, 191, 191);
}
.our-services-cards-footer a:hover {
  border-bottom: solid 1px #086ad8;
}
.our-company {
  background: url(https://demo.hasthemes.com/mitech-preview/assets/images/patterns/mitech-home-infotechno-section-company-bg.png);
  background-repeat: no-repeat;
  padding-top: 100px;
}
.our-experience-text h6 {
  text-transform: uppercase;
  color: #ababab;
  font-size: 14px;
  font-weight: 700;
}
.our-experience-text h3 {
  font-size: 40px;
  font-weight: 700;
}
.title i.las {
  color: black;
  float: right;
}
h6.title {
  font-size: 24px;
  font-weight: 800;
}
.number {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  margin-right: 10px;
  min-width: 45px;
  color: #ababab;
  float: left;
}
.title {
  border-top: 2px solid #ededed;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 14px;
  padding-top: 20px;
  border-top: 2px solid #ededed;
  padding-right: 15px;
}
.list-item {
  padding-bottom: 60px;
}
.title-wrap {
  overflow: hidden;
}
.list-item:hover h6 {
  color: #086ad8;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.list-item:hover .number {
  color: #086ad8;
}
.list-item:hover i {
  color: #086ad8;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.btn2 {
  display: none;
}
.btn2-hero-show {
  display: block;
}
.infotechno-video {
  background-image: url(https://demo.hasthemes.com/mitech-preview/assets/images/bg/home-infotechno-video-intro-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0;
}
.ml-auto {
  margin-left: auto;
}
.infotechno-video h2 {
  line-height: 1.34;
  font-weight: 600;
  color: #fff;
  margin-bottom: 65px;
  font-size: 48px;
}
.video-text {
  padding-top: 10px;
  margin-top: 0;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.45;
}
.video-play-icon {
  content: "";
  position: absolute;
  top: 37px;
  left: 41px;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 17px solid #fff;
  border-top-width: 12px;
  border-bottom-width: 12px;
  border-left-width: 19px;
  border-left-color: #ffffff;
}
.video-play {
  position: relative;
  width: 78px;
  height: 78px;
  background: #086ad8;
  -webkit-box-shadow: 0 2px 41px 0 rgb(91 99 254 / 36%);
  box-shadow: 0 2px 41px 0 rgb(91 99 254 / 36%);
  border-radius: 50%;
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.2, 1) !important;
  -o-transition: all 1s cubic-bezier(0, 0, 0.2, 1) !important;
  transition: all 1s cubic-bezier(0, 0, 0.2, 1) !important;
  -webkit-box-shadow: 0 20px 30px rgb(0 0 0 / 7%);
  box-shadow: 0 20px 30px rgb(0 0 0 / 7%);
}
.video-popup {
  margin-left: 25px;
}
